body{
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100%;
    display:flex;
    padding: 0;
    margin: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1), rgba(148,187,233,1));
}
.maincontainer{
    display:flex;
    flex-direction:column ;
    align-items: center;
    height: 400px;
    width:  600px;
    border: 3px solid rgba(0,0,0,0.4);
    border-radius: 40px;
    background-color: azure;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:auto;
    width:100%;
}
.heading{
    font-size:30px;
}
.container1{
    position: relative;
    top:-35px;
}
.container2{
    position: relative;
    top:-5px;
}
.add{
    border: none;
    border-radius: 40px;
    height:30px;
    width:100px;
    background-color: orangered;
    transition: all 0.3s linear;
}
#textbox{
    border-radius: 10px;
    height:30px;
    width:200px;
    border-color: blue;
}
.add:hover{
    background-color: palevioletred;
    color: black;
    transform:scale(0.8);
}
.main{
    color:brown
}